html,body{  
  height: 100%;  
}

body {
  background: url(/images/details_back.jpg);
  background-repeat: no-repeat; 
  background-size:100% 100%;
}

div#details {
  background-color:#6495ED;
  width: 25%;
  height: 40%;
  margin: auto;
  opacity: 0.5;
  padding: 5%;
  border-radius: 100%;
}

h2 {
  margin-top: 5%;
  text-align: center;
  color: white;
}

div.info {
  margin-top: 3%;
  text-align: center;
  height: 15%;
  color: white;
  font-size: 17pt;
}

span {
  display: inline-block;
  width: 30%;
  margin-left: 8%;
}

div#username, div#id,
div#phone, div#mail {
  display: inline-block;
  width: 60%;
}

button {
  width: 8%;
  height: 8%;
  margin-left: 65%;
  font-size: 16pt;
  background-color: lightseagreen;
}

div#tip {
  background-color: none;
  margin-top: 5%;
  height: 10%;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  color: red;
  transition: 0.4s;
}

.clear {
  opacity: 0;
}